#tabuleiro {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(114, 62, 62);
}

div {
    height: 100px;
    text-align: center;
     
    /* código para compatibilidade com vários navegadores */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    
    display: flex;
    
    /* código para compatibilidade com vários navegadores */
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    
    align-items: center;
}

.casa {
    width: calc(100% / 3 - 2px);
    height: calc(100% / 3 - 2px);
    border: 1px solid rgb(0, 0, 0);
}

.branca {
    background-color: rgb(255, 255, 255);
}
